<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <% @movies.each do |movie| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= image_tag(movie.image_url, class: 'list_image') %>
        </td>

        <td class="list_description">
          <dl>
            <dt><%= movie.name %></dt>
            <dd><%= movie.code %></dd>
            <dd><%= movie.year %></dd>
            <dd><%= movie.genre %></dd>
            <dd><%= movie.price %></dd>
          </dl>
        </td>
        <% if admin_signed_in? %>
            <td class="list_action">
              <button type="button" class="btn btn-danger"><%= link_to 'Show', movie %></button><br />
              <button type="button" class="btn btn-danger"><%= link_to 'Edit', edit_movie_path(movie) %></button><br />
              <button type="button" class="btn btn-danger"><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %> </button>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>
