<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@movie.image_url, width:"25%") %>
</p>

<p>
  <strong>Code:</strong>
  <%= @movie.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
.movie_id<p>
  <strong>Price:</strong>
  $ <%= @movie.price %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %>
