<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rent.user %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @rent.movie %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rent.price %>
</p>

<p>
  <strong>Rent day:</strong>
  <%= @rent.rent_day %>
</p>

<p>
  <strong>Return day:</strong>
  <%= @rent.return_day %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
