<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/movies/">MovieHouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-link"><%= link_to 'Home', store_index_path %></li>
      <% else %>
        <li class="nav-link"><%= link_to 'Movies', movies_index_path %></li>
      <% end %>
      <% if signed_in? %>
        <li class="nav-link"><%= link_to 'Show', carts_url %></li>
      <% end %>
      <% if admin_signed_in? %>
        <li class="nav-link"><%= link_to 'New Movie', movies_new_path %></li>
      <% end %>
      <div class="login">
        <% if user_signed_in? %>
          <li class="nav-link"><%= link_to 'Sing out', destroy_user_session_path, method: :delete %></li>
        <% elsif admin_signed_in? %>
          <li class="nav-link"><%= link_to 'Sing out', destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li class="nav-link"><%= link_to 'Sing in', new_user_session_path %></li>
          <li class="nav-link"><%= link_to 'Sing up', new_user_registration_path %></li>
        <% end %>
      </div>
    </ul>
  </div>
</nav>